.abordagem {
  background-color: #D6D6FF;
  display: flex;
  flex-direction: column;
  padding: 10%;
  padding-top: 15%;
  position: relative;
}


.abordagem-texto {
  width: 70%;
  padding-left: 5%;
  color: #262626;
}

.abordagem-texto h1{
  font-family:"Libre Baskerville";
  font-size: 2.5em;
}

.abordagem-texto p{
  font-family: "Montserrat Alternates";
  font-size: 1.5em;
  color: #262626;;
}

@media only screen and  (max-width: 1024px) {

  .abordagem{
    align-items: center;
  }

  .abordagem-texto h1{
    padding-top: 15%;
    font-size: 1.2em;
    text-align: center;
  }

  .abordagem-texto p{
    font-size: 1em;
    text-align: justify;
  }

  .abordagem-img{
    width: 70%;
  }
}

@media only screen and  (max-width: 767px) {
  .abordagem-texto h1{
    padding-top: 22%;
    font-size: 1em;
  }

  .abordagem-texto p{
    font-size: 0.8em;
  }
}
