.avaliacao-presencial {
  background-color: #D6D6FF;
  display: flex;
  flex-direction: column;
  padding: 10%;
  position: relative;
}

.avaliacao-presencial-texto {
  width: 70%;
  padding-left: 5%;
  color: #262626;
}

.avaliacao-presencial h1{
  font-family:"Libre Baskerville";
  font-size: 2.5em;
}

.avaliacao-presencial p{
  font-family: "Montserrat Alternates";
  font-size: 1.5em;
  
  color: #262626;;
}

.avaliacao-presencial img{
 width: 50%;
 align-self: self-end;
}

@media only screen and  (max-width: 1024px) {

  .avaliacao-presencial{
    align-items: center;
  }

  .avaliacao-presencial h1{
    padding-top: 15%;
    font-size: 1.2em;
    text-align: center;
  }

  .avaliacao-presencial p{
    font-size: 1em;
    text-align: justify;
  }

  .avaliacao-presencial img{
    width: 40%;
  }
}

@media only screen and  (max-width: 767px) {
  .avaliacao-presencial h1{
    padding-top: 22%;
    font-size: 1em;
  }

  .avaliacao-presencial p{
    font-size: 0.8em;
  }
}