.blog{
  background-color: #D6D6FF;
  display: flex;
  flex-direction: column;
  padding-bottom: 10%;
}

.blog a {
  text-decoration: none;
}

.blog button{
  background-color: #262626;
  border: none;
  border-radius: 10px;
  color: #EBEBF2;
  font-size: 1.25rem;
  padding: 1% 2%;
  margin: 2%;
  transition: background-color 0.5s, color 0.7s;
  cursor: pointer;
  margin: 0 auto; 
  display: block;
}

.blog button:hover{
  background-color: #D6D6FF;
  color: #444444;
}


.texto-principal {
  color: #262626;
  font-size: 1.5em;
  font-family: "Montserrat Alternates";
  max-width: 70%;
  margin-left: 8vw;
  padding: 10% 0;
}


.imagens-blog {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 8vw;
  margin-right: 8vw;
  justify-content:flex-start;
}

.topicos img {
  width: 90%;
  height:auto;
  border-radius: 10px;
  margin-bottom: 5%;
}

.topicos h1{
  font-size: 2em;
  text-align: left;
  width: 90%;
  margin-bottom: 5%;
  font-family: "Libre Baskerville";
}

.topicos p {
  font-size: 1.2em;
  font-family: "Montserrat Alternates";
  max-width: 80%;
}

.topicos i {
  color: #262626;
  padding: 5%;
  padding-left: 0;
}

.topicos i:hover {
  color: #444444;
}


.imagens{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 8vw;
}

.imagens img {
  width: 30%;
  height: 40%;
  margin-top: 5%;
  border-radius: 10px;
}


@media only screen and  (max-width: 1024px) {
  .blog {
    display: flex;
    align-items: center;
 }

 .texto-principal {
  text-align: justify;
  margin-left: 0vw;
}

.topicos {
  text-align: center;
  align-self: center;
}

.topicos h1 {
  text-align: center;
  padding-left: 7%;
  font-size: 1.2em;
}

.topicos p{
  text-align: center;
  padding-left: 10%;
  padding-bottom: 3%;
  font-size: 0.8em;
}

.topicos img{
  max-width: 60%;
  height: auto;
}

.imagens-blog{
  flex-wrap: wrap;
  
}

}

@media only screen and  (max-width: 767px){
  .texto-principal {
    font-size: 0.8em;
}

.topicos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagens-blog {
    flex-direction: column;
}

.topicos img {
    padding-top: 10%;
    
}

.blog button{
  font-size: 0.8em;
}

}
