.faq {
  background-color: #D6D6FF;
  padding: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq h1 {
  font-family: "Libre Baskerville";
  font-size: 1.8em;
}

.faq-item ul{
  list-style-type: none; /* Remove os marcadores da lista */
  text-align: center; /* Centraliza o texto dentro da lista */
}

.faq-item li {
  margin-bottom: 1em; /* Espaçamento entre os itens */
  margin-left: 10%;
}

.faq-item button {
  font-family: "Libre Baskerville";
  font-size: 1.5em;
  background-color:#D6D6FF ;
  color: #444444;
  border: none;
  font-size: 1.25rem;
  margin-top: 3vw;
  margin-right: 8vw;
  white-space: nowrap;
  transition: color 0.3s, transform 0.3s;
  cursor: pointer;
}

.faq button:hover {
  color: #262626;
  transform: scale(1.1);
}

.resposta {
  margin-top: 2%;
  font-family: "Libre Baskerville";
  font-size: 1em;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
  opacity: 0;
}

.resposta.show {
  max-height: 200px; /* Ajuste conforme necessário */
  opacity: 1;
}

@media only screen and  (max-width: 1024px) {

  

  .faq h1{
    padding-top: 15%;
    font-size: 1.2em;
  }

  .faq-item button{
    font-size: 1.0em;
    word-wrap: break-word;
    white-space: normal; /* Garante que o texto possa quebrar linhas */
    overflow-wrap: break-word; /* Compatibilidade para navegadores mais novos */
  }
 

  .resposta{
    font-size: 0.8em;
    overflow: scroll;
  }
}

@media only screen and  (max-width: 767px) {
  .faq h1{
    padding-top: 22%;
    font-size: 1em;
  }

  .faq-item button{
    font-size: 0.8em;
    word-wrap: break-word;
  white-space: normal; /* Garante que o texto possa quebrar linhas */
  overflow-wrap: break-word; /* Compatibilidade para navegadores mais novos */
  }

  .resposta{
    font-size: 0.6em;
  }
 
}


@media only screen and  (max-width: 560px) {
  .faq h1{
    padding-top: 40%;
  }
}

@media only screen and  (max-width: 340px) {
  .faq h1{
    padding-top: 70%;
  }
}