.redes-sociais {
  justify-content: center;
}

.redes-sociais a {
  cursor: pointer;
}

.redes-sociais img {
  width: 30%;
  padding-bottom: 1%;
}

.redes-sociais i {
  margin: 2%;
  font-size: 1.2em;
}

.redes-sociais p {
  padding-bottom: 5%;
  font-size: 1em;
  font-family:"Montserrat Alternates";
}


@media only screen and  (max-width: 767px){
  .redes-sociais{
    display: flex;
    flex-direction: column;
    flex-flow: column-nowrap;
    align-items: center;
  }

  .redes-sociais img {
    width: 100%;
  }

  .redes-sociais p {
    font-size: 0.8em;
  }

  .redes-sociais i{
    font-size: 1em;
    margin: 0;
    padding: 0;
  }


}
